PORT=8765
AUTH_REQUIRED=true
AUTH_ALLOWED_EMAILS=nick@raxdigital.com
AUTH_ALLOWED_DOMAINS=example.com
AUTH_COOKIE_SECRET=replace_with_random_32_byte_secret
RESEND_API_KEY=replace_with_resend_api_key
AUTH_EMAIL_FROM=CreatorBoard <login@creatorboard.io>
META_GRAPH_VERSION=v25.0
INSTAGRAM_GRAPH_BASE=https://graph.instagram.com
META_IG_ACCOUNT_ID=paste_instagram_business_account_id_here
META_ACCESS_TOKEN=paste_long_lived_instagram_token_here
